---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import About from '../components/About.astro';
import Work from '../components/Work.astro';
import Contact from '../components/Contact.astro'; 
---

<!doctype html>
<html lang="de">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

</head>
<body>
    <Header />
    <main>
        <div class="ultra-header header">
            <p class="ultra-header outlined-text">MIKA</p>
            <p class="ultra-header outlined-text">GRIEBSCH</p>
        </div>
        <div class="arrow-container">
            <img class="arrow-image" src="/public/arrowdown.svg" alt="Arrow Down">
        </div>
    </main>
    <About />
    <Work />
    <img src="/public/eins.jpg">
    <Contact />
</body>
</html>

<style>
    .header {
        height: 77vh;
    }
    .arrow-container {
        display: flex;
        justify-content: center;
    }
    .arrow-image {
        height: 50px;
        width: auto;
        animation: jumping-arrow 1s ease-in-out infinite;  
    }
    @keyframes jumping-arrow {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>

