<main id="about" >
    <div class="container hidden">
        <h1 class="container-header outlined-text-active" >ABOUT</h1>
        <div class="row">
            <div class="left">
                Früh interessierte ich mich für die Programmierung und entdeckte anfangs verschiedenste Programmiersprachen wie Java und Python.
                Durch mein damaliges alter von 13 Jahren interessierte ich mich aber besonders für die Webentwicklung.<br>
                Über zwei Jahre hinweg habe ich ein Familienmitglied bei der Webentwicklung begleitet 
                und mit Django gearbeitet. In dieser Zeit übernahm ich kleinere Aufgaben eigenständig
                und sammelte praktische Erfahrungen im Frontend- und Backend-Bereich. Die enge 
                Zusammenarbeit half mir, mein technisches Verständnis und meine Fähigkeiten 
                in der Webentwicklung zu vertiefen.<br>
                Mit fortschreitendem Alter erweiterten sich die Projekte bis hin zu fertigen Websites.<br>
            </div>
            <div class="right">
                <img src="/public/Me.jpg" alt="Portrait">
            </div>
        </div>
    </div>
</main>

<style>
    .container {
        display: flex;
        flex-direction: column;
        opacity: 0; 
        transition: opacity 0.5s ease-out;
    }
    @media (max-width: 1100px) {
        .container {
            margin-top: 30px;
        }
        .row {
            display: flex;
            flex-direction: column !important;
        }
        .left, .right {
            width: 100% !important;
        }
    }
    .container.visible {
        opacity: 1; /* Sichtbar, wenn die Klasse hinzugefügt wird */
    }
    .row {
        display: flex;
        flex-direction: row;

    }
    .left, .right {
        padding-left: 0vw;
        padding-right: 2vw;
        padding-bottom: 2vw;
        padding-top: 2vw;
    }
    .left {
        text-align: justify;
        width: 60%;
        height: fit-content;
    }
    .right {
        width: 40%;
        overflow: hidden;
    }
    .right img {
        width: 100%; /* Setzt die Breite auf 100% des Container-Bereichs */
        height: auto; /* Beibehaltung der Bildhöhe entsprechend der Breite */
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const container = document.querySelector('.container');

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    container.classList.add('visible');
                } else {
                    container.classList.remove('visible');
                }
            });
        }, {
            threshold: 0.5 
        });

        observer.observe(container);
    });
</script>
