<main>
    <div class="container-work" id="projects" >
        <h1 class="container-header outlined-text-active">PROJEKTE</h1>
        <div class="card-container">
            <div class="card">
                <a target="_blank" href="https://frauenarzt-dr-dagmar-rossner.de/">
                    <img src="/public/Rossner.png">
                </a>
                <div class="description">
                    <div class="left">
                        <a target="_blank" href="https://frauenarzt-dr-dagmar-rossner.de/" class="header">
                            DR. DAGMAR ROßNER
                        </a>
                        <p class="subheader">
                            Webauftritt
                        </p>
                    </div>
                    <div class="right">
                        <p class="time-button">2024</p>
                    </div>
                </div>
            </div>
        
            <div class="card hover-image">
                <a target="_blank" href="https://www.flaeming-wildhandel.de/">
                    <img src="/public/Wildhandel.png">
                </a>
                <div class="description">
                    <div class="left">
                        <a target="_blank" href="https://www.flaeming-wildhandel.de/" class="header">
                            FLÄMING WILDHANDEL
                        </a>
                        <p class="subheader">
                            Webauftritt
                        </p>
                    </div>
                    <div class="right">
                        <p class="time-button">2023</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    .container-work {
        padding: 3%;
        display: flex;
        flex-direction: column;
        opacity: 0; 
        transition: opacity 0.5s ease-out; 
    }

    .container-work.visible {
        opacity: 1; 
    }

    .container-header {
        display: flex;
        /* margin-left: 61%; */
        margin-left: -3%;
    }

    .card-container {
        display: flex;
        justify-content: space-between;
    }

    .card {
        width: 48.5%;
        background-color: var(--accent-background);
    }

    .card img {
        border-radius: 0;
    }

    .card {
        border: 2px solid var(--accent-background);
        border-radius: 30px;
    }

    .hover-image {
        position: relative;
    }
    .description {
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header {
        color: var(--font);
        font-weight: 700;
        font-size: 25px;
        padding: 0;
        text-decoration: none;
    }
    .subheader {
        margin-top: -5px;
    }
    .time-button {
        background-color: var(--accent-background-2);
        border-radius: 12px;
        width: fit-content;
        padding: 5px 15px;
    }
    @media (max-width: 1100px) {
        .card-container {
            display: flex;
            flex-direction: column-reverse !important;
            margin-left: 1%;
            margin-right: 1%;
        }
        .card {
            width: 100%;
            margin: 2vh 0vh 0vh 0vh;
        }
        .container-header {
        display: flex;
        margin-left: 1%;
        font-size: 16vw;
        }   
        .container-work {
            h1 {
            margin-left: -20px;
        }
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const container = document.querySelector('.container-work');

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    container.classList.add('visible');
                } else {
                    container.classList.remove('visible');
                }
            });
        }, {
            threshold: 0.5
        });

        observer.observe(container);
    });
</script>